<div id="inbox-container" class="col-sm-8 col-sm-offset-2">
	<div class="panel panel-info">
	  <div class="panel-heading"><span class="inbox-title">Inbox</span></div>
	  <!-- List group: print out a conversation heading in each list item -->
	  <div class="list-group">
	  	<% @conversations.each do |conversation| %>

	  		<!-- Store the other user of the conversation in a variable. You don't know if the other user is the sender or the receiver -->
	  		<% if conversation.user1_id == current_user.id %>
	  			<% convo_user = conversation.user2 %>
			<% else %>
				<% convo_user = conversation.user1 %>
			<% end %>
			
			<!-- Create a custom timestamp. If it is less than 1 day old show the time, otherwise show the date -->
			<% if Time.at(conversation.updated_at).to_date === Time.now.to_date %>
				<% timeStamp = Time.at(conversation.updated_at).strftime "%l:%M %P" %>
			<% else %>
				<% timeStamp = Time.at(conversation.updated_at).strftime "%b %-d" %>
			<% end %>
			
			<!-- Check if the conversation has been read. Add class "active" to the list element if it hasn't been read -->
			<% if Conversation.read?(conversation.id, current_user.id)==0 %>
				<% read = "active" %>
			<% else %>
				<% read = "" %>
			<% end %>

	    	<a href="/inbox/<%=conversation.id%>" class="list-group-item <%=read%>">
	    		<div class="message-left col-sm-11">
	    			<p><span class="message-name"><%=convo_user.first_name + " " + convo_user.last_name%></span> - <span class="message-time"><%= timeStamp %></span></p>
	    			
	    			<p><span class="message-text-preview"><%=conversation.messages.last.text%></span></p>
	    		</div>

	    		<!-- <div class="message-right col-sm-12">
	    		</div> -->
	    	</a>
		<% end %>
	    
	  </div>
	</div>
</div>
