<div class="row" class="topic-page-row">
	<h1><%=@topic.name%></h1>
</div>

<!-- Print all of the users who have a helpoffer listed that relates to this topic -->
<div class="row" class="topic-page-row">
	<h2 class="topic-page-heading">Users who can help:</h2>
	
	<div class="topic-user-container">
		<!-- Print each user -->
		<% @users.each do |user| %>
			
			<!-- Call the partial to print the well for each user -->
			<%= render partial: "/shared/userwell", locals: {:user=>user, :size=>3} %>

		<% end %>
	</div>
</div>

<!-- Print all of the posts that are related to this topic -->
<div class="row" class="topic-page-row">
	
	<h2 class="topic-page-heading">Related questions and discussions:</h2>

	<% if @posts.blank? %>
		No related posts
	<% else %>
		<div class="col-sm-8" id="topic-related-discussions">
			<ul class="list-group">

				<!-- Print each post -->
				<% @posts.each do |post| %>
					<%group = Group.find(post.postable_id)%>
					

					<li class="list-group-item">
						<a href="/groups/<%=group.id%>">View discussion in <%=group.name%></a>
						<!-- Store the author of this post into a variable, as we will need his user info later -->
						<% postAuthor = User.find(post.user_id) %>

						<!-- Calculate the time elapsed since this post was created and store it in the proper format to be printed out with the comment -->
						<% timediff = (Time.now - post.created_at).to_i %>
						
						<!-- Retreive all of the comments for this post -->
						<% comments = post.comments.all %>
						<% newcomment = post.comments.new %>
						
						<!-- Use format_time_diff from application helper to return the proper time stamp for comments -->
						<% timediffString = format_time_diff(timediff) %>	

						<div class="post-div">
							<p>
								<strong><a href="/users/<%=postAuthor.id%>"><%= postAuthor.first_name + " " + postAuthor.last_name %></a></strong>   -   <span class="post-time"><%= timediffString %></span>
							</p>
							
							<div class="post-text">
								<p class="post-text"><%= h auto_link(simple_format(post.text.gsub(/\r\n/, '<br />'))) %></p>
							</div>

							<div class="comments-container col-sm-11 col-sm-offset-1">
								<% comments.each do |comment| %>
									
									<% commentAuthor = User.find(comment.user_id) %>
									<% timediff = (Time.now - comment.created_at).to_i %>
									<% timediffString = format_time_diff(timediff) %>
									
									<div class="comment-div">
										<p><strong><a href="/users/<%=commentAuthor.id%>"><%= commentAuthor.first_name + " " + commentAuthor.last_name %></a></strong>   -   <span class="post-time"><%= timediffString %></span></p>
										<p class="post-text"><%= h auto_link(simple_format(comment.text.gsub(/\r\n/, '<br />'))) %></p>
									</div>
								<% end %>
							</div>
						</div>
					</li>
				<% end %>
			</ul>
		</div>
	<% end %>
</div>