

<div class="row">
	<div class="col-sm-7">
		<h1><%=@group.name%></h1>
		<p><%= @group.description %></p>
	</div>
</div>

<!-- Navigation tabs that swap between the Group's posts and the Group's members -->
<ul id="group-tab-nav" class="nav nav-tabs col-sm-8" data-no-turbolink="true">
  <li id="group-posts-button" class="active"><a>Posts</a></li>
  <li id="group-members-button"><a>Members</a></li>
</ul>

<!-- Show the Posts and Comments section -->
<%= render partial: "/shared/posts", locals: {:user=>@user, :newpost=>@newpost, :posts=>@posts, :post_on=>"group"} %>

<div id="members-div" data-no-turbolink="true">
	<div id="user-frame-container">

	  <% @users.each do |user| %>
	    
	    <!-- Determine if the user's description is too long to fit in the frame. If it is, take the first 190 characters of the description and set the description_cut variable to true -->
	    <% if !user.description %>
	      <% descr = "Description not added yet" %>
	    <% elsif user.description.length>190 %>
	      <% descr = user.description[0...190] + "..." %>
	    <% else %>
	      <% descr = user.description %>
	    <% end %>

	    <!-- Extract the titles of the HelpOffers for this user and place into a comma separated string to be printed out below -->
	    <% helpoffers = [] %>
	    <% if user.helpoffers.count == 0  %>
	      <% helpoffers = "Topics not added yet" %>
	    <% else %>
	      <% user.helpoffers.each do |offer| %>
	        <% helpoffers.push(offer.title) %>
	      <% end %>
	      <% helpoffers = helpoffers.join(", ") %>
	    <% end %>

	    <!-- Current role is either "Current role not added yet" or their current role-->
		<% if user.current.blank?  %>
			<% current_role = "Current role not added yet" %>
		<% else %>
			<% current_role = user.current %>
		<% end %>
	    
	    <div class="user-frame col-sm-3 well" >
			<div class="user-frame-img-holder">
            
	            <!-- Check if user has an image. Use placekitten if not -->
	            <% if user.image_url.nil? %>
	              <img src = "http://placekitten.com/150/150">
	            <% else %>
	              <%= image_tag user.image_url.to_s %>
	            <% end %>

			</div>

			<div class="user-frame-basic-info">
	            <div class="user-frame-name">
	              <p><h4><%= user.first_name + " " + user.last_name%></h4></p>
	              <p class="user-frame-role"><%= current_role %></p>
	            </div>
            
	            <div class="helpoffers-div">
	              <p class="user-frame-help-topics"><strong>Help topics:</strong>
	              <%= helpoffers %></p>
	            </div>

	            <div class="description-div"> 
	              <p><%= descr %></p>
	            </div>      
	            
	            <div class="viewprofilebtn-div">
	              <a href="/users/<%=user.id%>" class="btn btn-primary view-profile-button">View Full Profile</a>
	            </div>
        	</div>
		</div>
	  <% end %>
	</div>
</div>

<%= javascript_tag do %>
  window.userID = '<%= j current_user.id.to_s %>';
<% end %>

<script>
	mixpanel.identify(userID);
	mixpanel.track("Group Page Visit");

	$("document").ready(function() {
		$("#posts_div").show();

		$("#members-div").hide();

		$("#group-posts-button").click(function(){
			
			$("#posts_div").show();
			$("#members-div").hide();

			$("#group-posts-button").addClass("active");
			$("#group-members-button").removeClass("active");

			$("#group-tab-nav").addClass("col-sm-8");
			$("#group-tab-nav").removeClass("col-sm-12");				
		});	

		$("#group-members-button").click(function(){
			
			$("#posts_div").hide();
			$("#members-div").show();

			$("#group-posts-button").removeClass("active");
			$("#group-members-button").addClass("active");

			$("#group-tab-nav").addClass("col-sm-12");
			$("#group-tab-nav").removeClass("col-sm-8");				
		});	

	});	  
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45530906-1', 'projecthelp.co');
  ga('send', 'pageview');

</script>