<h1>These are all of the people in your network</h1>

<p><%=current_user.first_name+ " is signed in!"%></p>

<div id="user-frame-container">

  <% @users.each do |user| %>
    
    <!-- Determine if the user's description is too long to fit in the frame. If it is, take the first 190 characters of the description and set the description_cut variable to true -->
    <% if !user.description %>
      <% descr = "Description not added yet" %>
    <% elsif user.description.length>190 %>
      <% descr = user.description[0...190] + "..." %>
    <% else %>
      <% descr = user.description %>
    <% end %>

    <!-- Extract the titles of the HelpOffers for this user and place into a comma separated string to be printed out below -->
    <% helpoffers = [] %>
    <% if user.helpoffers.count == 0  %>
      <% helpoffers = "Topics not added yet" %>
    <% else %>
      <% user.helpoffers.each do |offer| %>
        <% helpoffers.push(offer.title) %>
      <% end %>
      <% helpoffers = helpoffers.join(", ") %>
    <% end %>
    
    <div class="user-frame col-sm-3 well" >
      <!-- <div class="panel-body"> -->
        <div class="user-frame-img-holder">
          <img src="http://placekitten.com/g/150/150">
        </div>

        <div class="user-frame-basic-info">
          <div class="user-frame-name">
            <p><h4><%= user.first_name + " " + user.last_name%></h4></p>
          </div>
          
          <div class="description-div"> 
            <p><%= descr %></p>
          </div>
          
          <div class="helpoffers-div">
            <p class="user-frame-help-topics"><strong>Help topics:</strong></p>
            <p><%= helpoffers %></p>
          </div>
          
          <div class="viewprofilebtn-div">
            <a href="/users/<%=user.id%>" class="btn btn-primary">View Full Profile</a>
          </div>
      </div>
    </div>
  <% end %>
</div>

<br>
<%= link_to 'New User', new_user_path %>
<%= link_to 'Sign Out', "/sessions/destroy" %>
