<h1>All users</h1>

<h1>Listing users</h1>
<p><%=current_user.first_name+ " is signed in!"%></p>

<div id="user-frame-container">
<div class="user-frame col-sm-3 panel panel-default" >
  <div class="panel-body">
    <div class="user-frame-img-holder">
      <img src="http://placekitten.com/g/150/150">
    </div>

    <div class="user-frame-basic-info">
      <p><h4><%=current_user.first_name + " " +current_user.last_name%></h4></p>
      <p><%=current_user.description%></p>
      <p><strong>Help topics:</strong></p>
      
      <% current_user.helpoffers.each do |offer| %>
        <%= offer.title + ", "%>
      <% end %>

    </div>
  </div>
</div>
</div>


<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Password digest</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name + " " +user.last_name%></td>
        <td><%= user.email %></td>
        <td><%= user.password_digest %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New User', new_user_path %>
<%= link_to 'Sign Out', "/sessions/destroy" %>
