
<h3>Almost done!</h3>

<div id="container">
  <div class="col-sm-7 form-container">
    <%= form_for(setup_user(@user), :html => { :role => "form" }) do |f| %>
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@user.errors.count, "error") %> prohibited
            this user from being saved:
          </h2>
     
          <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <div id="new2-choose-file">
          <%= f.label :image, "Upload profile picture" %>
          <%= f.file_field :image, class: "form-control" %>
        </div>
      
        <%= f.text_field :remote_image_url, class: "form-control", placeholder: "Or enter an image URL" %>
      </div>
     
      <div class="form-group" id="phonenumber-field">
        <%= f.label :phone_number, "Phone number (notifications for new messages)" %>
        <%= f.text_field :phone_number, class: "form-control", placeholder: "12312312345 - numbers only please" %>
      </div>

      <div class="form-group" id="description-field">
        <%= f.label :description, "Briefly describe yourself. This is the first thing your groups will see about you!" %>
        <%= f.text_area :description, class: "form-control", placeholder: "I was a part of the November Coding Dojo class. Previously, I've worked in venture capital, in product management at a startup, and in finance. Call me!" %>
      </div>
      
      <p data-no-turbolink="true" id="topics-field-heading">
        <h3>Add topics that you'd like to help people with:</h3>
        <%= link_to_add_fields "Add another topic", f, :helpoffers %>  
      </p>
      
      <% count = 1 %>
      <%= f.fields_for :helpoffers do |helpoffer_form| %>
          
          <div class="form-group help-topics">
            <%= helpoffer_form.label :title, "Topic #" + count.to_s %>
            <%= helpoffer_form.text_field :title, class: "form-control", placeholder: "Topic e.g. Resume writing, Startups, or Skiing" %>
            <%= helpoffer_form.text_area :description, class: "form-control", placeholder: "Description e.g. I've worked at 3 different startups across different growth stages. Happy to discuss what it was like working at a startup and what they're looking for in candidates." %>
            <%= f.hidden_field :_destroy %>
            <%= link_to "Remove topic", '#', class: "remove_fields", value: "Remove topic" %>
          </div>
          <% count += 1 %>
      <% end %>
      
     
      <div class="actions">
        <a href="/users" class="btn btn-default" >Skip</a>
        <%= f.submit "Submit", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>

<%= javascript_tag do %>
  window.userID = '<%= j current_user.id.to_s %>';
<% end %>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45530906-1', 'projecthelp.co');
  ga('send', 'pageview');

  mixpanel.alias(userID);

</script>