<p id="notice"><%= notice %></p>

<!-- Extract the titles of the HelpOffers for this user and place into a comma separated string to be printed out below -->
<% helpoffers = [] %>
<% if @user.helpoffers.count == 0  %>
  <% helpoffers = "Topics not added yet" %>
<% else %>
  <% @user.helpoffers.each do |offer| %>
    <% helpoffers.push(offer.title) %>
  <% end %>
  <% helpoffers = helpoffers.join(", ") %>
<% end %>

<div id="profile-header" class="col-sm-8 panel panel-default" data-no-turbolink="true">
	<div class="panel-body">

		<div id="profile-pic-name" class="col-sm-12">

			<!-- If profile is current user's profile, make the image a link to upload a profile picture. If the user does not have a profile picture, place a kittenplaceholder -->
			<div id="profile-pic-container" class="col-sm-3">
				<% if @user.id == current_user.id %>
					<% if @user.image_url.nil? %>
						<a data-toggle="modal" href="#picUploadModal"><img src = "http://placekitten.com/150/150"></a>
					<% else %>
						<a data-toggle="modal" href="#picUploadModal"><%= image_tag @user.image_url.to_s %></a>
					<% end %>
				<% else %>
					<% if @user.image_url.nil? %>
						<img src = "http://placekitten.com/150/150">
					<% else %>
						<%= image_tag @user.image_url.to_s %>
					<% end %>
				<% end %>
			</div>

			<div id="profile-info" class="col-sm-8" data-no-turbolink="true">
				<h2><%=@user.first_name+" "+@user.last_name%></h2>
				
				<div id="profile-help-topics">
					<p><strong>Help topics:</strong> <%= helpoffers %></p>
				</div>				

				<div class="btn-group btn-group-justified">
					<% if @conversation.id.nil? %>
						<a id="messageButton" data-toggle="modal" href="#messageModal" class="btn btn-primary">Send Message</a>
					<% else %>
						<a href="/inbox/<%=@conversation.id%>" class="btn btn-primary">Send Message</a>
					<% end %>
					<a id="callButton" data-toggle="modal" href="#callModal" class="btn btn-success">Schedule Call</a>
				</div>
			</div>
		</div>
		
		<div id="profile-description" class="col-sm-12">
			<p><%=@user.description%></p>
		</div>

		<%= render partial: "/shared/posts", locals: {:user=>@user, :newpost=>@newpost, :posts=>@posts, :post_on=>"user"} %>

	
	</div>
</div>

<div id="help-topics" class="col-sm-4 well">
	<h3>Topics I can help with:</h3>

	<% @topics.each do |topic| %>
		<div class="topic-group">
			<p class="topic-title"><strong><%= topic.title %></strong></p>
			<p><%= topic.description %></p>
		</div>
	<% end %>

</div>

<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModallLabel" aria-hidden="true" data-no-turbolink="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Send <%=@user.first_name%> a message</h4>
        </div>
        <div class="modal-body">
        	<%= form_for(@conversation, :html => { :role => "form", :id => "message-form" }) do |f| %>
        		<% if @conversation.id.nil? %>
		        	<%= f.hidden_field :user1_id, :value => current_user.id %>
		        	<%= f.hidden_field :user2_id, :value => @user.id %>
		        	<%= f.hidden_field :user1read, :value => 1 %>
		        	<%= f.hidden_field :user2read, :value => 0 %>
	        	<% end %>

	        	<%= f.fields_for :messages do |message_form| %>
	        		<%= message_form.hidden_field :sender_id, :value => current_user.id %>
	        		<%= message_form.hidden_field :receiver_id, :value => @user.id %>
	        		<%= message_form.text_area :text, class: "form-control", placeholder: "Ask something!" %>
        		<% end %>
        </div>

        <div class="modal-footer">
          <%= f.submit "Send", class: "btn btn-primary message-send-button" %>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <% end %>
        </div>

      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div class="modal fade" id="callModal" tabindex="-1" role="dialog" aria-labelledby="callModalLabel" aria-hidden="true" data-no-turbolink="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Sorry! Call scheduler is not available yet</h4>
        </div>
        <div class="modal-body">
        	The calling feature is not ready yet. For now, please send <%=@user.first_name%> a message instead and schedule a call manually.
        </div>

        <div class="modal-footer">
			<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>

      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<!-- Modal that opens when user clicks on profile picture to upload profile picture -->
<div class="modal fade" id="picUploadModal" tabindex="-1" role="dialog" aria-labelledby="picUploadModalLabel" aria-hidden="true" data-no-turbolink="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Upload Profile Picture</h4>
        </div>
        <div class="modal-body">
        	<%= form_for(setup_user(@user), :html => { :role => "form", :multipart => true, :id=>"pic-upload-form" }) do |f| %>
		      <% if @user.errors.any? %>
		        <div id="error_explanation">
		          <h2>
		            <%= pluralize(@user.errors.count, "error") %> prohibited
		            this user from being saved:
		          </h2>
		     
		          <ul>
		          <% @user.errors.full_messages.each do |msg| %>
		            <li><%= msg %></li>
		          <% end %>
		          </ul>
		        </div>
		      <% end %>
				<div class="form-group">
					<%= f.file_field :image, class: "form-control" %>
				</div>

				<div class="form-group">
					<%= f.text_field :remote_image_url, class: "form-control", placeholder: "Or enter an image URL" %>
				</div>
				
        </div>

        <div class="modal-footer">
        		<%= f.submit "Submit", class: "btn btn-primary pic-upload-button" %>
			<% end %>
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>

      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<% if current_user.id == @user.id %>
	<% javascript_tag do %>
		window.own_profile = true;
	<% end %>
<% else %>
	<% javascript_tag do %>
		window.own_profile = false;
	<% end %>
<% end %>

<%= javascript_tag do %>
  window.userID = '<%= j current_user.id.to_s %>';
<% end %>

<script>
	mixpanel.identify(userID);

	if(own_profile)
	{
		mixpanel.track("Own Profile Visit Page");	
	}
	else
	{
		mixpanel.track("Profile Visit Page");
	}

	$(document).ready(function() {
		$(".message-send-button").click(function() {
			$('#message-form').submit();

			mixpanel.track("Profile Send Message");
		});

		$(".pic-upload-button").click(function() {
			$('#pic-upload-form').submit();
		});

		$("#callButton").click(function() {
			mxipanel.track("Profile Schedule Call Attempt");
		});
			
	});
	
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45530906-1', 'projecthelp.co');
  ga('send', 'pageview');

</script>
