<p id="notice"><%= notice %></p>

<div id="profile-header" class="col-sm-8 panel panel-default">
	<div class="panel-body">
		<div id="profile-pic-container" class="col-sm-3">
				<img src = "http://placekitten.com/150/250">
		</div>

		<div id="profile-info" class="col-sm-8">
			<h2><%=@user.first_name+" "+@user.last_name%></h2>
			<p><%=@user.description%></p>

			<div class="btn-group btn-group-justified">
				<a data-toggle="modal" href="#myModal" class="btn btn-primary">Send Message</a>
				<a href="" class="btn btn-success">Schedule Call</a>
			</div>
		</div>

		<%= render partial: "/shared/posts", locals: {:user=>@user, :newpost=>@newpost, :posts=>@posts, :post_on=>"user"} %>

	
	</div>
</div>

<div id="help-topics" class="col-sm-4 well">
	<h3>Topics I can help with:</h3>

	<% @topics.each do |topic| %>
		<div class="topic-group">
			<p class="topic-title"><strong><%= topic.title %></strong></p>
			<p><%= topic.description %></p>
		</div>
	<% end %>

</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Send a message</h4>
        </div>
        <div class="modal-body">
        
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary">Send</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
