<p id="notice"><%= notice %></p>

<div id="profile-header" class="col-sm-8 panel panel-default" data-no-turbolink="true">
	<div class="panel-body">
		<div id="profile-pic-container" class="col-sm-3">
				<img src = "http://placekitten.com/150/200">
		</div>

		<div id="profile-info" class="col-sm-8" data-no-turbolink="true">
			<h2><%=@user.first_name+" "+@user.last_name%></h2>
			<p><%=@user.description%></p>

			<div class="btn-group btn-group-justified">
				<% if @conversation.id.nil? %>
					<a id="messageButton" data-toggle="modal" href="#messageModal" class="btn btn-primary">Send Message</a>
				<% else %>
					<a href="/inbox/<%=@conversation.id%>" class="btn btn-primary">Send Message</a>
				<% end %>
				<a href="" class="btn btn-success">Schedule Call</a>
			</div>
		</div>

		<%= render partial: "/shared/posts", locals: {:user=>@user, :newpost=>@newpost, :posts=>@posts, :post_on=>"user"} %>

	
	</div>
</div>

<div id="help-topics" class="col-sm-4 well">
	<h3>Topics I can help with:</h3>

	<% @topics.each do |topic| %>
		<div class="topic-group">
			<p class="topic-title"><strong><%= topic.title %></strong></p>
			<p><%= topic.description %></p>
		</div>
	<% end %>

</div>

<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-no-turbolink="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Send <%=@user.first_name%> a message</h4>
        </div>
        <div class="modal-body">
        	<%= form_for(@conversation, :html => { :role => "form", :id => "message-form" }) do |f| %>
        		<% if @conversation.id.nil? %>
		        	<%= f.hidden_field :user1_id, :value => current_user.id %>
		        	<%= f.hidden_field :user2_id, :value => @user.id %>
		        	<%= f.hidden_field :user1read, :value => 1 %>
		        	<%= f.hidden_field :user2read, :value => 0 %>
	        	<% end %>

	        	<%= f.fields_for :messages do |message_form| %>
	        		<%= message_form.hidden_field :sender_id, :value => current_user.id %>
	        		<%= message_form.hidden_field :receiver_id, :value => @user.id %>
	        		<%= message_form.text_area :text, class: "form-control", placeholder: "Ask something!" %>
        		<% end %>
        </div>

        <div class="modal-footer">
          <%= f.submit "Send", class: "btn btn-primary message-send-button" %>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <% end %>
        </div>

      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<script>
	$(document).ready(function() {
		$(".message-send-button").click(function() {
			$('#message-form').submit();
		});
			
	});
	
</script>
