
<% if post_on == "user" %>
	<% prompt = "Ask " + user.first_name + " a question or thank them for their help!" %>
	<% text_placeholder = prompt %>

	<div id="posts" class="col-sm-12" data-no-turbolink="true">	

<% else %>
	<% prompt = "Ask a question or post something helpful!" %>
	<% title_placeholder = "Add a one-line question or topic" %>
	<% text_placeholder = "Add more details here" %>
	
	<div class="clearfix">
	</div>
	
	<div id="posts_div" class="col-sm-9" data-no-turblink="true">
<% end %>

<div class="well well-sm">

	<div class="form-group" id="dummy-post-form-div">
		<p><strong><%= prompt %></strong></p>
		<input class="form-control" placeholder="<%=prompt%>" id="dummy-post-form">
	</div>

	<div id = "actual-post-form-div">
		<%= simple_form_for(newpost, url: '/posts',  :defaults => { :wrapper_html => {:class=>"form-group"}, :input_html => { :class => "form-control", :size=>'20' } }) do |f| %>
			<%= f.input :user_id, :as=>:hidden, input_html: {:value => current_user.id} %>
			<%= f.input :postable_id, :as=>:hidden, input_html: {:value => newpost.postable_id} %>
			<%= f.input :postable_type, :as=>:hidden, input_html: {:value => newpost.postable_type} %>
			<% if post_on == "group" %>
				<%= f.input :title, input_html: {id: "first-focus-input"}, label:"Title", placeholder: title_placeholder, as: :string %>
				<%= f.input :text, label:"Details", placeholder: text_placeholder %>
			<% else %>
				<%= f.input :text, input_html: {id: "first-focus-input"}, label:prompt, placeholder: prompt %>
			<% end %>
			<%= f.button :submit, value: 'Post', class: "btn btn-primary"%>
			<button class="btn btn-default" id="post-cancel">Cancel</button>
		<% end %>

	</div>
</div>

	<% posts.each do |post| %>

		<!-- Show the Posts and Comments section -->
		<%= render partial: "/shared/singlepost", locals: {:post=>post} %>
	<% end %>
</div>

<%= javascript_tag do %>
	<% if !@newpost.errors.blank? %>
  		window.posterrors = true;
	<% else %>
		window.posterrors = false;
	<% end %>
<% end %>

<script>
	//Set listeners and check if you should show the actual form for a POST, not the comments
	actual_form = $("#actual-post-form-div");
	dummy_form = $("#dummy-post-form-div");

	if (posterrors == false)
		actual_form.hide();
	else
		dummy_form.hide();

	//Set listeners to hide the real form for comments
	actual_comment_form = $(".actual-comment-form-div");
	dummy_comment_form = $(".dummy-comment-form-div");

	actual_comment_form.hide();



	$(document).ready(function () {
		
		//The following two listeners are for the functionality of the main Post form
		$("#dummy-post-form").focus(function () {
			actual_form.show();
			$("#first-focus-input").focus();
			dummy_form.hide()
		});

		$("#post-cancel").click(function() {
			dummy_form.show();
			actual_form.hide();

			return false;
		});

		//The following two listeners are for the functionality of the comment forms
		$(".dummy-comment-form").focus(function() {
			$(this).parent().next().show();
			$(this).parent().next().find(".actual-comment-form").focus();
			$(this).parent().hide();
			
		});

		$(".comment-cancel").click(function() {
			$(this).parent().parent().hide();
			$(this).parent().parent().prev().show();

			return false;
		});

		//The following tow listeners are for the reply links. Clicking reply will automatically open the
		//post reply form and focus it
		$(".comment-reply-link").click(function() {
			$(this).parent().parent().parent().parent().parent().find(".dummy-comment-form").focus();

			return false;
		});

		$(".post-reply-link").click(function() {
			$(this).parent().parent().parent().find(".dummy-comment-form").focus();

			return false;
		});

		//The following listeners are for the Thanks/Helpful functionality
		$(document).on("click", ".post-give-thanks", function() {
			thank_form = $(this).parent().next().next();

			thank_form.submit();

			return false;
		});

		$(".post-give-thanks-form").submit(function() {
			
			var action = $(this).attr('action');
			var content = $(this).serialize();
			var form = $(this)

			$.post(action, content, function(data) {
				form.prev().html(data['thank_string']);

				var thank_link = form.prev().prev().find(".post-give-thanks");
				
				thank_link.after("<a class='post-gave-thanks' data-method='delete' data-remote='true' href='/thanks/" +data['id']+"' rel='nofollow'>Marked as helpful!</a>");
				thank_link.remove();

			}, "json");

			return false;
		});
	});
</script>