<!-- CSS for this is located in Users CSS!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
<!-- Javascript for this is located in _posts.html.erb partial!!!!!!!!!!!!!!!!! -->

	<!-- Store the author of this post into a variable, as we will need his user info later -->
	<% postAuthor = User.find(post.user_id) %>

	<!-- Calculate the time elapsed since this post was created and store it in the proper format to be printed out with the comment -->
	<% timediff = (Time.now - post.created_at).to_i %>
	
	<!-- Retreive all of the comments for this post -->
	<% comments = post.comments.all %>
	<% newcomment = post.comments.new %>

	<!-- Retreive all of the thanks for this post-->
	<% thanks = post.thanks.all %>
	
	<!-- Check if the post has been thanked by the current user -->
	<% current_thanked = false %>
	<% current_thank = "" %>
	<% thanks.each do |thank| %>
		<% if thank.thanker_id == current_user.id %>
			<% current_thanked = true %>
			<% current_thank = thank %>
			<% break %>
		<% end %>
	<% end %>

	<!-- Create the appropriate string to summarize who thanked them for this post -->
	<% if thanks.length>0 %>
		<% thanksString = thanks_string(thanks) %>
	<% end %>

	
	
	<!-- Get the role of the post author -->
	<% if postAuthor.current.blank? %>
		<% role = "Current role not added yet" %>
	<% else %>
		<% role = postAuthor.current %>
	<% end %>
	
	<!-- Use format_time_diff from application helper to return the proper time stamp for comments -->
	<% timediffString = format_time_diff(timediff) %>	
	
	<!-- Open the container for a post and it's associated comments -->
	<div class="post-div">
		<!-- Each post is wrapped in a Media div -->
		<div class="media">
			<!-- Profile pic, name and role are warpped in a pull-left -->
			<div class="pull-left post-profile-info">
				<div class="post-profile-pic">
					<%= image_tag postAuthor.image_url(:thumb).to_s, class:"media-object" %>
				</div>

				<p><a href="/users/<%=postAuthor.id%>"><%=postAuthor.first_name + " " + postAuthor.last_name %></a></p>
				<p class="post-user-role"><%=role%></p>

			</div>
			
			<!-- The Post text and associated comments are wrapped in a media-body -->
			<div class="media-body">

				<!-- Div with the actual post body, the title, text and thanks -->
				<div class="post-body" id="post-body-<%=post.id%>">
					
					<!-- Post title if there is a title -->
					<% if !post.title.blank? %>
						<h4 class="media-heading post-title">
							<%=post.title%>
						</h4>
					<% end %>
					
					<!-- Post text -->
					<div class="post-text">
						<%= h auto_link(simple_format(post.text)) %>
					</div>
					
					<!-- This is the area of the post where you can take action on the post (thank, reply). Also tells
					you the date of the post -->
					<div class="post-subtext">
						
						<!-- If the current user has thanked this post, print the link to unthank it. Otherwise print
						the link to thank it -->
						<% if current_thanked %>
							<%= link_to "Marked as helpful!", current_thank, class: "post-gave-thanks", method: :delete, remote: true %>   &#8901   
						<% else %>
							<a href="" class="post-give-thanks">Helpful!</a>   &#8901   
						<% end %>

						<a href="" class="post-reply-link">Reply</a>   &#8901   
						<span class="post-time"><%= timediffString %></span>
					</div>
					
					<!-- If people have thanked this post, print this out -->
					<div class="post-thanks">
						<% if thanks.length > 0 %>
							<%=raw thanksString%>
						<% end %>
					</div>
					
					<!-- Hidden form that creates new thanks. When the thank link is clicked this form is submitted -->
					<% new_thank = post.thanks.new %>
					<%= simple_form_for(new_thank, :html => {class: "post-give-thanks-form"}) do |f| %>
						<%= f.input :thanker_id, :as=>:hidden, input_html: {:value => current_user.id} %>
						<%= f.input :thanked_id, :as=>:hidden, input_html: {:value => post.id} %>
						<%= f.input :thanked_type, :as=>:hidden, input_html: {:value => "Post"} %>
						<%= f.input :thanked_uid, :as=>:hidden, input_html: {:value => postAuthor.id} %>
					<% end %>
				</div>

				<% if !comments.blank? %>
					<div class="h-divider">
					</div>
				<% end %>
				
				<!-- Div containing all of the comments for this post -->
				<div class="comments-container">
					<% comments.each_with_index do |comment, i| %>
						<% commentAuthor = User.find(comment.user_id) %>
						<% timediff = (Time.now - comment.created_at).to_i %>
						<% timediffString = format_time_diff(timediff) %>

						<!-- Retreive all of the thanks for this comment-->
						<% thanks = comment.thanks.all %>

						<!-- Check if the comment has been thanked by the current user -->
						<% current_thanked = false %>
						<% current_thank = "" %>
						<% thanks.each do |thank| %>
							<% if thank.thanker_id == current_user.id %>
								<% current_thanked = true %>
								<% current_thank = thank %>
							<% end %>
						<% end %>

						<!-- Create the appropriate string to summarize who thanked them for this comment -->
						<% if thanks.length>0 %>
							<% thanksString = thanks_string(thanks) %>
						<% end %>
						
						<!-- Each comment is also wrapped in a media div -->
						<div class="media single-comment-div">
							<div class="pull-left">
								<%= image_tag commentAuthor.image_url(:thumb).to_s, class:"media-object" %>
							</div>

							<div class="media-body">
								<!-- Div with the actual post body, the title, text and thanks -->
								<div id="comment-body-<%=comment.id%>">
									<p>
										<a href="/users/<%=commentAuthor.id%>"><%= commentAuthor.first_name + " " + commentAuthor.last_name %></a>
									</p>
									<div class="post-text">
										<%= h auto_link(simple_format(comment.text)) %>
									</div>

									<div class="post-subtext">
										<!-- If the current user has thanked this post, print the link to unthank it. Otherwise print
										the link to thank it -->
										<% if current_thanked %>
											<%= link_to "Marked as helpful!", current_thank, class: "post-gave-thanks", method: :delete, remote: true %>   &#8901   
										<% else %>
											<a href="" class="post-give-thanks">Helpful!</a>   &#8901   
										<% end %>

										<a href="" class="post-reply-link">Reply</a>   &#8901   
										<span class="post-time"><%= timediffString %></span>
									</div>

									<div class="post-thanks">
										<% if thanks.length > 0 %>
											<%=raw thanksString%>
										<% end %>
									</div>

									<% new_thank = comment.thanks.new %>
									<%= simple_form_for(new_thank, :html => {class: "post-give-thanks-form"}) do |f| %>
										<%= f.input :thanker_id, :as=>:hidden, input_html: {:value => current_user.id} %>
										<%= f.input :thanked_id, :as=>:hidden, input_html: {:value => comment.id} %>
										<%= f.input :thanked_type, :as=>:hidden, input_html: {:value => "Comment"} %>
										<%= f.input :thanked_uid, :as=>:hidden, input_html: {:value => commentAuthor.id} %>
									<% end %>
									
								</div> <!-- End comment-body div -->
							</div> <!-- End media-body div -->

						</div>

						<% if i < comments.size-1 %>
							<div class="h-divider">
							</div>
						<% end %>
						
					<% end %>

					<div class="comment-form-div">

						<div class="form-group dummy-comment-form-div">
							<input class="form-control dummy-comment-form" placeholder="Post a reply!">
						</div>
						
						<div class="actual-comment-form-div">
							<%= simple_form_for(newcomment, url: '/comments', :defaults => { :wrapper_html => {:class=>"form-group"}, :input_html => { :class => "form-control new-comment-form", :size=>'20' } }) do |f| %>
								<%= f.input :user_id, :as=>:hidden, input_html: {:value => current_user.id} %>
								<%= f.input :post_id, :as=>:hidden, input_html: {:value => post.id} %>
								<%= f.input :text, label:false, placeholder: "Post a reply!", input_html: {class: "actual-comment-form form-control"} %>
								<%= f.button :submit, value: "Comment", class: "btn btn-primary"%>
								<button class="btn btn-default comment-cancel">Cancel</button>
							<% end %>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

	<div class="h-divider">
	</div>