<!-- CSS for this is located in Users CSS!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
<!-- Javascript for this is located in _posts.html.erb partial!!!!!!!!!!!!!!!!! -->

	<!-- Store the author of this post into a variable, as we will need his user info later -->
	<% postAuthor = User.find(post.user_id) %>

	<!-- Calculate the time elapsed since this post was created and store it in the proper format to be printed out with the comment -->
	<% timediff = (Time.now - post.created_at).to_i %>
	
	<!-- Retreive all of the comments for this post -->
	<% comments = post.comments.all %>
	<% newcomment = post.comments.new %>
	
	<!-- Get the role of the post author -->
	<% if postAuthor.current.blank? %>
		<% role = "Current role not added yet" %>
	<% else %>
		<% role = postAuthor.current %>
	<% end %>
	
	<!-- Use format_time_diff from application helper to return the proper time stamp for comments -->
	<% timediffString = format_time_diff(timediff) %>	
	
	<!-- Open the container for a post and it's associated comments -->
	<div class="post-div">
		<!-- Each post is wrapped in a Media div -->
		<div class="media">
			<!-- Profile pic, name and role are warpped in a pull-left -->
			<div class="pull-left post-profile-info">
				<div class="post-profile-pic">
					<%= image_tag postAuthor.image_url(:thumb).to_s, class:"media-object" %>
				</div>

				<p><a href="/users/<%=postAuthor.id%>"><%=postAuthor.first_name + " " + postAuthor.last_name %></a></p>
				<p class="post-user-role"><%=role%></p>

			</div>
			
			<!-- The Post text and associated comments are wrapped in a media-body -->
			<div class="media-body">

				<!-- Div with the actual post body, the title, text and thanks -->
				<div class="post-body">

					<% if !post.title.blank? %>
						<h4 class="media-heading post-title">
							<%=post.title%>
						</h4>
					<% end %>

					<div class="post-text">
						<%= h auto_link(simple_format(post.text)) %>
					</div>

					<div class="post-subtext">
						<a href="#"><span class="post-thank">Helpful!</span></a>   &#8901  
						<a href="#"><span class="post-reply-link">Reply</span></a>   &#8901   
						<span class="post-time"><%= timediffString %></span>
					</div>

					<!-- <div class="post-thanks">
						Thanked by <a href="#">Fred Kang</a>
					</div> -->
				</div>

				<% if !comments.blank? %>
					<div class="h-divider">
					</div>
				<% end %>
				
				<!-- Div containing all of the comments for this post -->
				<div class="comments-container">
					<% comments.each_with_index do |comment, i| %>
						<% commentAuthor = User.find(comment.user_id) %>
						<% timediff = (Time.now - comment.created_at).to_i %>
						<% timediffString = format_time_diff(timediff) %>
						
						<!-- Each comment is also wrapped in a media div -->
						<div class="media single-comment-div">
							<div class="pull-left">
								<%= image_tag commentAuthor.image_url(:thumb).to_s, class:"media-object" %>
							</div>

							<div class="media-body">
								<p>
									<a href="/users/<%=commentAuthor.id%>"><%= commentAuthor.first_name + " " + commentAuthor.last_name %></a>
								</p>
								<div class="post-text">
									<%= h auto_link(simple_format(comment.text)) %>
								</div>

								<div class="post-subtext">
									<a href="#"><span class="post-thank">Helpful!</span></a>   &#8901  
									<a href="#"><span class="post-reply-link">Reply</span></a>   &#8901   
									<span class="post-time"><%= timediffString %></span>
								</div>
							</div>

						</div>

						<% if i < comments.size-1 %>
							<div class="h-divider">
							</div>
						<% end %>
						
					<% end %>

					<div class="form-group dummy-comment-form-div">
						<input class="form-control dummy-comment-form" placeholder="Post a reply!">
					</div>
					
					<div class="actual-comment-form-div">
						<%= simple_form_for(newcomment, url: '/comments', :defaults => { :wrapper_html => {:class=>"form-group"}, :input_html => { :class => "form-control new-comment-form", :size=>'20' } }) do |f| %>
							<%= f.input :user_id, :as=>:hidden, input_html: {:value => current_user.id} %>
							<%= f.input :post_id, :as=>:hidden, input_html: {:value => post.id} %>
							<%= f.input :text, label:false, placeholder: "Post a reply!", input_html: {class: "actual-comment-form form-control"} %>
							<%= f.button :submit, value: "Comment", class: "btn btn-primary"%>
							<button class="btn btn-default comment-cancel">Cancel</button>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="h-divider">
	</div>