<!-- Print any notices -->
<% if !flash[:notice].nil? %>
	<div class="col-sm-12">
		<%="Notice: #{flash[:notice]}"%>
	</div>
<% end %>

<!-- This container sets the size of of the topics sidebar -->
<div class="col-sm-3 dashboard-container" id="topics-sidebar-container" data-clampedwidth="#groups-main-container">
	<!-- Div contains the topics sidebar -->
	<div id="topics-sidebar" class="panel panel-default">
		
		<!-- Heading for the section -->
		<div class="panel-heading">
			<h2 class="panel-title"> Topics in your network </h2>
		</div>
		
		<!-- Body for the section -->
		<div class="panel-body">

			<!-- Form that user uses to search for a particular topic -->
			<form action='/topics/search' method='post' id='search-form'>
				<input name="utf8" type="hidden" value="✓">
				<input name="authenticity_token" type="hidden" value="0ajn97Rdg7axTJta0bP5Ts2XAf3xrgzrkDzWKU6oagQ=">
				
				<div class="form-group">
					<div class="input-group">
						<input class="form-control" type="text" placeholder="Search for a topic" name="search_term" id="topic-search-input">
						
						<span class="input-group-addon" id="topic-search-glyph">
							<a href="" id="search-submit">
								<span class="glyphicon glyphicon-search"></span>
							</a>

							<a href="" id="search-cancel">
								<span class="glyphicon glyphicon-remove-circle"></span>
							</a>
						</span>
					</div>
				</div>
			</form>
			
			<!-- Div that holds all of the topics available to the user. Will either show featured topics or all topics -->
			<div id="topic-list">
				<!-- Featured is the default. If user clicks on All, Featured turns into a link -->
				<p><b>
					<span id="featured-link">Featured</span> / 
					<span id="all-link"><a href="">All</a></span>
				</b></p>
				
				<!-- Div showing Featured topics. Hide this topic when All is selected -->
				<p id="all-topics" class="topic-sub-list">
					<% @all_topics.each_with_index do |topic, i| %>
						<a href="/topics/<%=topic.id%>" class="topic-link"><%=topic.name%></a> 
						<% if i != @all_topics.length-1 %>
							&#8901 
						<% end %>
					<% end %>
				</p>

				<!-- Div showing All topics. Hide this topic when Featured is selected -->
				<p id="featured-topics" class="topic-sub-list">
					<% @featured_topics.each_with_index do |topic, i| %>
						<a href="/topics/<%=topic.id%>" class="topic-link"><%=topic.name%></a> 
						<% if i != @featured_topics.length-1 %>
							&#8901 
						<% end %>
					<% end %>
				</p>
			</div>

			<div id="search-results" class="topic-sub-list">
			</div>
		</div>
	</div>
</div>

<!-- This container sets the size of the main Group/People section **************************************** -->
<div class="col-sm-9 col-sm-offset-3 dashboard-container" id="groups-main-container">
	<!-- Div contains the Group / People section -->
	<div id="groups-people-main" class="panel panel-default">
		
		<!-- Heading for the section -->
		<div class="panel-heading">
			<h2 class="panel-title"><span id="group-link">Groups</span> / <span id="people-link"><a href="">People</a></span> in your network</h2>
		</div>
		
		<!-- The panel-body will be the section showing members ******************************************** -->
		<div id="people" class="panel-body">
			
			<!-- Each user is printed out in a well -->
			<% @users.each do |user| %>
				
				<!-- Call the partial to print the well for each user -->
				<%= render partial: "/shared/userwell", locals: {:user=>user, :size=>4} %>

			<% end %> <!-- end printing users -->
		</div>

		<!-- The list group will contain the Group overviews *********************************************** -->
		<ul class="list-group" id="groups">
			
			<% @groups.each_with_index do |group, i| %>
			
				<!-- Each Group will be shown in a list-group-item -->
				<li class="list-group-item dashboard-group-item">
					<div class="col-sm-12 group-heading">
						<h4><a href="/groups/<%=group.id%>"><%=group.name + " (" + @group_users[i].size.to_s + " people, " + @group_topics[i].size.to_s + " topics)"%></a></h4>
					</div>

					<div class="dashboard-group-posts col-sm-8">	
						<div class="panel panel-default">
							<div class="panel-body">

								<!-- For each group, the user can create a new Post to that group straight from the dashboard -->
								<label>Post to <%=group.name%></label>

								<!-- Show the user a dummy input with a prompt. This is shown to the user on page load -->
								<input class="form-control group-post-dummy-form" placeholder="Ask a question or start a discussion with <%=group.name%>"></input>
								
								<!-- When user clicks into the dummy input, the dummy input disappears and the real form appears via jQuery -->
								<% newpost = group.posts.new %>
								<%= simple_form_for(newpost, url: '/posts', :html=> {class: "group-post-form"}, :defaults => { :wrapper_html => {:class=>"form-group"}, :input_html => { :class => "form-control", :size=>'20' } }) do |f| %>
									<%= f.input :user_id, :as=>:hidden, input_html: {:value => current_user.id} %>
									<%= f.input :postable_id, :as=>:hidden, input_html: {:value => newpost.postable_id} %>
									<%= f.input :postable_type, :as=>:hidden, input_html: {:value => newpost.postable_type} %>
									<%= f.input :text, label:false, input_html: {:class=> "group-post-form-textarea form-control"}, placeholder: "Ask a question or start a discussion with Coding Dojo" %>
									<%= f.button :submit, value: 'Post', class: "btn btn-primary"%>
									<a href="" class="btn btn-default group-post-form-cancel">Cancel</a>
								<% end %>
							</div>
							
							<!-- Contain the recent posts of the group in a list-group with 1 list-item -->
							<ul class="list-group">
								<li class="list-group-item">
									<b><p class="recent-posts-label">Recent Posts</p></b>
								
									<!-- Print each post -->
									<% @group_posts[i].each do |post| %>
										
										<!-- Store the author of this post into a variable, as we will need his user info later -->
										<% postAuthor = User.find(post.user_id) %>

										<!-- Calculate the time elapsed since this post was created and store it in the proper format to be printed out with the comment -->
										<% timediff = (Time.now - post.created_at).to_i %>
										
										<!-- Retreive all of the comments for this post -->
										<% comments = post.comments %>
										<% newcomment = post.comments.new %>
										
										<!-- Use format_time_diff from application helper to return the proper time stamp for comments -->
										<% timediffString = format_time_diff(timediff) %>	

										<div class="post-div">
											<p><strong><a href="/users/<%=postAuthor.id%>"><%= postAuthor.first_name + " " + postAuthor.last_name %></a></strong>   -   <span class="post-time"><%= timediffString %></span></p>
											<div class="post-text"><%= h auto_link(simple_format(post.text)) %>
											</div>
										</div>
									<% end %>
								</li>
							</ul> <!-- End Recent Posts list-group -->
						</div> <!-- End the Group Posts panel -->
					</div> <!-- End the Group Posts container div -->
					
					<!-- Panel with Featured Members -->
					<div class="dashboard-featured-members col-sm-4">
						<div class="panel panel-default">
							<div class="panel-body">
								<b>Most Helpful Members</b>
							</div>
							
							<ul class="list-group">
								<% @group_helpers[i].each do |user| %>
									<% if user.current.blank? %>
										<% role = "Current role not added yet" %>
									<% else %>
										<% role = user.current %>
									<% end %>

									<li class="list-group-item">
										<div class="media">
											<a href="/users/<%=user.id%>" class="pull-left">
												<% if user.image.file.nil? %> 
													<img src = "http://placekitten.com/35/35" class="media-object">
												<% else %>
													<%= image_tag user.image_url(:tiny_thumb).to_s, class:"media-object" %>
												<% end %>
											</a>
											<div class="media-body">
												<p class="featured-user-name"><a href="/users/<%=user.id%>"><%=user.first_name + " " +user.last_name%></a></p>
												<p class="featured-user-role"><%=role%></p>
												<p class="featured-user-topics">
													<b>Topics: </b>
													<% helpoffers = user.helpoffers %>
													<% helpoffers.each_with_index do |offer, i| %>
														<%=offer.title%>
														<% if i!=helpoffers.length-1 %>
															&#8901 
														<% end %>
													<% end %>
												</p>
											</div>
										</div>
									</li>
								<% end %>
							</ul>
						</div>
					</div>
					
					<div class="clearfix">
					</div>
				</li>
			<% end %>
			
			
			<!-- The last list-group-item will contain options to add or join groups -->
			<li class="list-group-item">
				<div class="col-sm-12 group-heading">
					<h4>Expand Your Network</h4>
					
					<a class="btn btn-primary btn-lg" id="join-group-button" data-toggle="modal" href="#joinGroupModal">Join Group</a>
					<a class="btn btn-success btn-lg" id="add-group-button" data-toggle="modal" href="#addGroupModal">Create Group</a>
				</div>
				
			</li>
		</ul>
	</div>
</div>

<div class="modal fade" id="joinGroupModal" tabindex="-1" role="dialog" aria-labelledby="joinGroupModalLabel" aria-hidden="true" data-no-turbolink="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Sorry! Users can't join other groups yet</h4>
        </div>
        <div class="modal-body">
        	We're still in private alpha and not quite ready for people to join multiple groups yet.
        </div>

        <div class="modal-footer">
			<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>

      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div class="modal fade" id="addGroupModal" tabindex="-1" role="dialog" aria-labelledby="addGroupModalLabel" aria-hidden="true" data-no-turbolink="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Sorry! We're not ready for new groups yet</h4>
        </div>
        <div class="modal-body">
        	We're still in private alpha and not quite ready to add new groups yet. Thanks for your interest!
        </div>

        <div class="modal-footer">
			<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>

      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<%= javascript_tag do %>
  window.userID = '<%= j current_user.id.to_s %>';
<% end %>

<script>

	mixpanel.identify(userID);
  	mixpanel.track("Network Visit Page");

	$("#search-cancel").hide();
	$("#search-results").hide();
	$("#all-topics").hide();
	$("#people").hide();
	$(".group-post-form").hide();

	
	$(document).ready(function() {

		// Function to give the topics sidebar a set width, and to make it responsive to screen size/resize
		$('[data-clampedwidth]').each(function () {
		    var elem = $(this);
		    var parentPanel = elem.data('clampedwidth');
		    var resizeFn = function () {
		        var sideBarNavWidth = $(parentPanel).outerWidth()/3 - 30;
		        elem.width(sideBarNavWidth);
		    };

		    resizeFn();
		    $(window).resize(resizeFn);
		});


		// When user clicks on Featured topics link, hide the All topics div
		// and show the Featured topics div. Then change take away the link from 
		// Featured and add the link to All
		$(document).on("click", "#featured-link a", function() {
			$("#all-topics").hide();
			$("#featured-topics").show();
			
			$("#all-link").html("<a href=''>All</a>");
			$("#featured-link").html("Featured");

			return false;
		});

		// When user clicks on All topics link, hide the Featured topics div
		// and show the All topics div. Then change take away the link from 
		// All and add the link to Featured
		$(document).on("click", "#all-link a", function() {
			$("#featured-topics").hide();
			$("#all-topics").show();
			
			$("#featured-link").html("<a href=''>Featured</a>");
			$("#all-link").html("All");

			return false;
		});

		// Submit the search form when someone clicks the magnifying glass
		$("#search-submit").click(function() {
			$("#search-form").submit();

			return false;
		});


		// Submit the search form when some presses enter in the search field
		$("#topic-search-input").keypress(function(e) {
			if (e.which == 13)
			{
				$("#search-form").submit();
				
				return false;
			}
		});
		
		// When the search form is submited, perform a .post to home/dashboard
		// with the search_term. Then take the result and print it appropriately
		$("#search-form").on('submit', function() {
			var action = $("#search-form").attr('action');
			var content = $("#search-form").serialize();

			// Perform the post action to home/dashboard
			$.post(action, content, function(data){
				// matching_topics is the return result
				var matching_topics = data['results'];

				// term is the variable the HTML will be stored in to be written
				// into the empty div to display the search results
				var term = "";

				// If there are no results, print 'No topics added yet'
				if(matching_topics.length == 0)
				{
					term = term + "No topics added yet";
				}
				// If there are results, loop through them, making each one into a link
				else
				{
					for (var i=0; i<matching_topics.length; i++)
					{
						term = term + "<a href='/topics/"+matching_topics[i].id+"'>" + matching_topics[i].name + "</a> ";

						if(i != matching_topics.length-1)
						{
							term = term + "&#8901 ";
						}
					}
				}

				// Write the results into the empty div for search results
				$("#search-results").html(term);
				
				// Turn the magnifying glass into a cancel button. Show the search results
				// hide the all / featured topics
				$("#search-results").show();
				$("#search-cancel").show();
				$("#search-submit").hide();
				$("#topic-list").hide();
			}, "json");

			mixpanel.track("Network - Search Submitted");

			return false;
		});

		// When the search is canceled, turn the cancel button into a magnifying glass, 
		// hide the search results and show the all / featured topics
		$("#search-cancel").click(function() {
			$("#search-submit").show();
			$("#search-cancel").hide();
			$("#search-results").html("");
			$("#search-results").hide();
			$("#topic-list").show();

			$("#topic-search-input").val("");

			return false;
		});

		// On the main panel, when a user clicks on People, hide the groups and
		// show the people
		$(document).on("click", "#people-link a", function() {
			$("#people").show();
			$("#groups").hide();

			$("#people-link").html('People');
			$("#group-link").html('<a href="">Groups</a>');

			return false;
		});

		// On the main panel, when a user clicks on Groups, hide the People and
		// show the Groups
		$(document).on("click", "#group-link a", function() {
			$("#people").hide();
			$("#groups").show();

			$("#people-link").html('<a href="">People</a>');
			$("#group-link").html('Groups');

			return false;
		});

		// When user clicks into dummy form to make a post to a group, the dummy form
		// disappears and real form with textarea appears		
		$(".group-post-dummy-form").focus(function() {
			var form = $(this).next();
			$(this).hide();
			form.show();
			form.children(".group-post-form-textarea").focus();
		});

		// When user clicks cancel, dummy form reappears and real form disapepars
		$(".group-post-form-cancel").click(function() {
			form = $(this).parent();

			form.children(".group-post-form-textarea").html('');
			form.hide();
			form.prev().show();
		});

		// Mixpanel tracking
		$('.topic-link').click(function () {
	      	mixpanel.track("Network - Topic Link Clicked");
	    });

	    $('.view-profile-button').click(function() {
	      	mixpanel.track("Network - View Full Profile Link Clicked");
	    });
	});
</script>
