<div class="jumbotron">
	<div class="container">
		<div id="helloworld" class="col-sm-7">
			<h1>Project Help</h1>
			<p>There is so much talent, experience, and knowledge locked inside every community, and they are full of people that want to see you succeed. Sign up and unleash the power of your community today! </p>
		</div>

		<div class="col-sm-5 welcome-form-container">
			<h3> Registration </h3>
			<%#= simple_form_for(@user, :defaults => { :wrapper_html => {:class=>"form-group"}, :input_html => { :class => "form-control" } }) do |f| %>
				<%#= f.input :first_name, placeholder: "First Name", label:false %>
				<%#= f.input :last_name, placeholder: "Last Name", label:false %>
				<%#= f.input :email, placeholder: "Email", label:false %>
				<%#= f.input :password, placeholder: "Password", label:false %>
				<%#= f.input :password_confirmation, placeholder: "Confirm Password", label:false %>
				<%#= f.button :submit, input_html: {value: 'Create User'}, class: "btn btn-primary"%>
			<%# end %>

			<%= form_for(@user, :html => { :role => "form", :id=>"register" }) do |f| %>
				<div class="form-group">
					<div class="form-inline">
						<div class="form-group col-sm-6" id="first-name-input">
							<label class="sr-only" for="user[first_name]">First Name</label>
							<%= f.text_field :first_name, class: "form-control", placeholder: "First Name" %>
						</div>
						<div class="form-group col-sm-6" id="last-name-input">
							<label class="sr-only" for="user[last_name]">Last Name</label>
							<%= f.text_field :last_name, class: "form-control", placeholder: "Last Name" %>
						</div>
					</div>
				</div>

				<div class="form-group">
					<%= f.text_field :email, class: "form-control", placeholder: "Email" %>
				</div>

				<div class="form-group">
					<%= f.password_field :password, class: "form-control", placeholder: "Password" %>
				</div>

				<div class="form-group">
					<%= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirm Password" %>
				</div>

				<div class="form-group">
					<input class="form-control" type="text" name="access_code" placeholder="Group Code"></input>
				</div>

				<%= f.submit "Register", class: "btn btn-primary" %>
			<% end %>
		</div>
	</div>
</div>


		
