<div class = "navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="/welcome/index">Project Help</a>
		</div>
		<% if current_user.nil? %>
			<div class="navbar-collapse collapse">
			</div>
		<% else %>
			
			<% unread = unread_messages %>
			<% if unread > 0 %>
				<% unread_badge = unread.to_s%>
			<% else %>
				<% unread_badge = "" %>
			<% end %>

			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<% if current_user!=nil && current_user.admin == 1 %>
						<li><%= link_to "Admin", controller: "users", action: "admin_panel"%></li>
					<% end %>
					<li><a href="/users">Network</a></li>
					<li><a href="/inbox">Inbox <span class='badge'><%=unread_badge%></span></a></li>
					<% if current_user!=nil && current_user.groups.first!=nil %>
						<li><a href="/groups/<%=current_user.groups.first.id%>">Groups</a></li>
					<% end %>
					<li class="dropdown">
				        <a href="" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
				        <ul class="dropdown-menu">
				          <li><a href="/users/<%=current_user.id%>">Profile</a></li>
				          <li><a href="/users/<%=current_user.id%>/edit">Edit Profile</a></li>
				          <li><a href="/sessions/destroy">Log Out</a></li>
				      </ul>
				</ul>
			</div>
		<% end %>
	</div>
</div>