<div class = "navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="/welcome/index">Project Help</a>
		</div>
		<% if current_user.nil? %>
			<div class="navbar-collapse collapse">
			</div>
		<% else %>
			
			<!-- Check the number of unread messages to print the badge in the navbar -->
			<% unread = unread_messages %>
			<% if unread > 0 %>
				<% unread_badge = unread.to_s%>
			<% else %>
				<% unread_badge = "" %>
			<% end %>
			
			<!-- Check the number of notifications on the profile to print the badge in the navbar -->
			<% profile_notes = profile_notifications %>
			<% if profile_notes > 0 %>
				<% profile_notes = profile_notes.to_s%>
			<% else %>
				<% profile_notes = "" %>
			<% end %>
			
			<!-- Check the number of notifications in the group to print the badge in the navbar -->
			<% group_notes = group_notifications %>
			<% if group_notes > 0 %>
				<% group_notes = group_notes.to_s%>
			<% else %>
				<% group_notes = "" %>
			<% end %>

			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<% if current_user!=nil && current_user.admin == 1 %>
						<li><%= link_to "Admin", controller: "users", action: "admin_panel"%></li>
					<% end %>
					<li><a href="/users">Network</a></li>
					
					<li><a href="/inbox">Inbox <span class='badge'><%=unread_badge%></span></a></li>
					
					<% if current_user!=nil && current_user.groups.first!=nil %>
						<li class="dropdown">
							<a href="" class="dropdown-toggle" data-toggle="dropdown">Groups  <span class='badge'><%=group_notes%></span> <span class="caret"></b></a>

							<ul class="dropdown-menu">
								<li><a href="/groups/<%=current_user.groups.first.id%>"><%=current_user.groups.first.name%>  <span class='badge'><%=group_notes%></span></a></li>
								<li><a id="add-group-link" data-toggle="modal" href="#groupAddModal">Add Group</a></li>
							</ul>
						</li>
					<% end %>
					
					<li class="dropdown">
				        <a href="" class="dropdown-toggle" data-toggle="dropdown"><%=current_user.first_name%>  <span class='badge'><%=profile_notes%></span> <span class="caret"></a>
				        <ul class="dropdown-menu">
				          <li><a href="/users/<%=current_user.id%>">Profile <span class='badge'><%=profile_notes%></span></a></li>
				          <li><a href="/users/<%=current_user.id%>/edit">Edit Profile</a></li>
				          <li><a href="/sessions/destroy">Log Out</a></li>
				      </ul>
					</li>
				</ul>
			</div>
		<% end %>
	</div>
</div>

<div class="modal fade" id="groupAddModal" tabindex="-1" role="dialog" aria-labelledby="addGroupModalLabel" aria-hidden="true" data-no-turbolink="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Sorry! We're not ready for new groups yet</h4>
        </div>
        <div class="modal-body">
        	We're still in private alpha and not quite ready to add new groups yet. Thanks for your interest!
        </div>

        <div class="modal-footer">
			<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>

      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>