<!DOCTYPE html>
<html>

<!-- start Mixpanel -->
<%= render "layouts/mixpanel" %>
<!-- end Mixpanel -->

<head>
  <title>Project Help</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class = "navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<span class="navbar-brand">Project Help <small>alpha</small></span>
			</div>

			<div class="navbar-collapse collapse">
				<%= simple_form_for(@user, url: '/sessions/create', html:{class: "navbar-form navbar-right", id:"sign-in"}, :defaults => { :wrapper_html => {:class=>"form-group"}, :input_html => { :class => "form-control", :size=>25 } }) do |f| %>
					<%= f.input :email, placeholder: "Email", label:false %>
					<%= f.input :password, placeholder: "Password", label:false %>
					<%= f.button :submit, value: 'Sign in', class: "btn btn-success welcome-sign-in"%>
				<% end %>
			</div>
		</div>
	</div>
	
	<!-- <div class="col-sm-10 col-sm-offset-1"> -->
		<%= yield %>
	<!-- </div> -->
</body>